.App {
  text-align: center;
  background-color: #1b4715;
  float: left;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: rgb(6, 224, 224);
}

.App-logo {
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Button {
  background-color: rgb(94, 83, 241);
  color: rgb(6, 224, 224);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  border: 3px solid black;
}